.goal_button_form {
    float: right;
    margin: 2px;
    border: 1px solid skyblue;
    background-color: white;
    color: rgb(50, 159, 203);
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.goal_button_form:hover {
    margin: 2px;
    border: 1px solid rgb(138, 127, 205);
    background-color: white;
    color: rgb(138, 127, 205);
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.goal_title {
    color: rgb(138, 127, 205);
}